<!DOCTYPE html>
<html lang="id">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "header.html" . }}

  <section class="section">
    <h2>Blog</h2>
    <div class="grid grid-posts">
      {{ range .Pages.ByDate.Reverse }}
      <div class="card">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <p class="post-date">{{ .Date.Format "2 Jan 2006" }}</p>
        <p>{{ .Params.description }}</p>
      </div>
      {{ end }}
    </div>
  </section>

  {{ partial "footer.html" . }}
</body>
</html>
